<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer__logo col col-6">
        {% include logo-desktop.svg %}
      </div>
      <div class="footer__text col col-6 xs-col-12 faded">
        <div class="row">
          <div class="col col-6 md-col-12">
            <section class="footer__text__section">
              <a href="https://goo.gl/maps/dNdR3SsWSjP2" class="fade">
                {{ site.footer_address }}
              </a>
            </section>
            <ul class="footer__text__section">
              {% for item in site.footer_contact %}
                <li class="footer__item"><a href="{{ item.link }}" class="fade">{{ item.text }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="col col-6 md-col-12">
            {% for group in site.footer_links %}
              <ul class="footer__text__section">
                {% for item in group %}
                  <li class="footer__item"><a href="{{ item.link }}" class="fade">{{ item.text }}</a></li>
                {% endfor %}
              </ul>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
