@include keyframes(arrowJostle) {
  0% {
    @include transform(translateX(0));
  }
  50% {
    @include transform(translateX(6px));
  }
  100% {
    @include transform(translateX(0));
  }
}
@include keyframes(lineGrow) {
  0% {
    width: 0;
  }
  33% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
