@font-face {
  font-family: 'BentonSansRegular';
  font-style: normal;
  font-weight: normal;
  src: local('BentonSansRegular'), url('/assets/fonts/BentonSansRegular.otf') format('opentype');
}
@font-face {
  font-family: 'BentonSansCompBlack';
  font-style: normal;
  font-weight: 900;
  src: local('BentonSansCompBlack'), url('/assets/fonts/BentonSansCompBlack.otf') format('opentype');
}
