---
---

@charset "utf-8";

// fonts
// -----

@font-face {
  font-family: 'BentonSans';
  font-style: normal;
  font-weight: normal;
  src: local('BentonSans-Regular'), url('{{ site.baseurl }}/assets/fonts/BentonSans-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'BentonSans-CompBlack';
  font-style: normal;
  font-weight: 900;
  src: local('BentonSans-CompBlack'), url('{{ site.baseurl }}/assets/fonts/BentonSans-CompBlack.otf') format('opentype');
}
@font-face {
  font-family: 'BentonSans';
  font-style: normal;
  font-weight: 700;
  src: local('BentonSans-Bold'), url('{{ site.baseurl }}/assets/fonts/BentonSans-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'BentonSans';
  font-style: italic;
  font-weight: 400;
  src: local('BentonSans-RegularItalic'), url('{{ site.baseurl }}/assets/fonts/BentonSans-RegularItalic.otf') format('opentype');
}

@import 'reset';
@import 'mixins';
@import 'variables';
@import 'animations';

// base
// ----

*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: $font-size--html;
}
@media (max-width: $bp-sm-md) {
  html {
    font-size: $font-size--html-md;
  }
}
body {
  font-size: $font-size--normal;
  font-family: $font-family--body;
  line-height: $line-height--normal;
  -webkit-font-smoothing: antialiased;
  -font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark-blue;
  background-color: $white;
}
img,
video,
iframe {
  width: 100%;
  max-width: 100%;
}
img,
video {
  height: auto;
}
a {
  text-decoration: none;
  color: inherit;
  @include transition(opacity $duration--normal);
}

// typography
// ----------

strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
del,
s {
  text-decoration: line-through;
}
u {
  text-decoration: underline;
}
pre,
code,
kbd,
samp {
  font-family: $font-family--monospace;
  overflow: auto;
  white-space: pre;
  background-color: $dark-blue-xxfaded;
  color: $dark-blue-faded;
  font-size: 87.5%;
}
pre {
  padding: $v*3/4;
}
pre > code {
  font-size: 100%;
  background-color: transparent;
}
small {
  @extend .small;
}

// headings
h1,
h2,
h3,
h4 {
  font-family: $font-family--headings;
  text-transform: uppercase;
}
h1,
h2 {
  line-height: 1;
}
h3,
h4 {
  line-height: 1.1;
}
h1 {
  font-size: 4em;
  @media (max-width: $bp-sm-md) {
    font-size: 2.5em;
  }
  &:not(:last-child) {
    margin-bottom: $v/2;
  }
}
h2 {
  font-size: 2em;
  @media (max-width: $bp-sm-md) {
    font-size: 1.75em;
  }
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}

p {
  margin-bottom: $v*3/4;
}

// horizontal rules
hr {
  margin: 0;
  border: 0;
  &:before {
    content: '';
    display: block;
    border-top: 2px solid $dark-blue-xfaded;
    padding-top: 2px;
    border-bottom: 2px solid $dark-blue-xfaded;
  }
}
hr.spaced {
  margin-bottom: $v*2/3;
}
hr.in-nav {
  margin-bottom: 10px;
  &:before {
    border-color: $white;
    @include transition(width $duration--normal, border-color $duration--slow);
    @include animation(lineGrow 1.25s);
  }
}
.is-filled-nav hr.in-nav {
  &:before {
    border-color: $dark-blue-xfaded;
  }
}

// grid
// ----

.container {
  width: 100%;
  max-width: $max-width--container;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;
}
.row {
  @include flexbox;
  @include flex-wrap(wrap);
  margin-left: -$gutter/2;
  margin-right: -$gutter/2;
}
.col {
  padding-left: $gutter/2;
  padding-right: $gutter/2;
}
@media (max-width: $bp-sm-md) {
  .container {
    padding-left: $gutter-md;
    padding-right: $gutter-md;
  }
  .row {
    margin-left: -$gutter-md/2;
    margin-right: -$gutter-md/2;
  }
  .col {
    padding-left: $gutter-md/2;
    padding-right: $gutter-md/2;
  }
}
.col-1 { width: 1/12*100%; }
.col-2 { width: 2/12*100%; }
.col-3 { width: 3/12*100%; }
.col-4 { width: 4/12*100%; }
.col-5 { width: 5/12*100%; }
.col-6 { width: 6/12*100%; }
.col-7 { width: 7/12*100%; }
.col-8 { width: 8/12*100%; }
.col-9 { width: 9/12*100%; }
.col-10 { width: 10/12*100%; }
.col-11 { width: 11/12*100%; }
.col-12 { width: 100%; }
@media (max-width: $bp-md-lg) {
  .md-col-1 { width: 1/12*100%; }
  .md-col-2 { width: 2/12*100%; }
  .md-col-3 { width: 3/12*100%; }
  .md-col-4 { width: 4/12*100%; }
  .md-col-5 { width: 5/12*100%; }
  .md-col-6 { width: 6/12*100%; }
  .md-col-7 { width: 7/12*100%; }
  .md-col-8 { width: 8/12*100%; }
  .md-col-9 { width: 9/12*100%; }
  .md-col-10 { width: 10/12*100%; }
  .md-col-11 { width: 11/12*100%; }
  .md-col-12 { width: 100%; }
}
@media (max-width: $bp-sm-md) {
  .sm-col-1 { width: 1/12*100%; }
  .sm-col-2 { width: 2/12*100%; }
  .sm-col-3 { width: 3/12*100%; }
  .sm-col-4 { width: 4/12*100%; }
  .sm-col-5 { width: 5/12*100%; }
  .sm-col-6 { width: 6/12*100%; }
  .sm-col-7 { width: 7/12*100%; }
  .sm-col-8 { width: 8/12*100%; }
  .sm-col-9 { width: 9/12*100%; }
  .sm-col-10 { width: 10/12*100%; }
  .sm-col-11 { width: 11/12*100%; }
  .sm-col-12 { width: 100%; }
}
@media (max-width: $bp-xs-sm) {
  .xs-col-1 { width: 1/12*100%; }
  .xs-col-2 { width: 2/12*100%; }
  .xs-col-3 { width: 3/12*100%; }
  .xs-col-4 { width: 4/12*100%; }
  .xs-col-5 { width: 5/12*100%; }
  .xs-col-6 { width: 6/12*100%; }
  .xs-col-7 { width: 7/12*100%; }
  .xs-col-8 { width: 8/12*100%; }
  .xs-col-9 { width: 9/12*100%; }
  .xs-col-10 { width: 10/12*100%; }
  .xs-col-11 { width: 11/12*100%; }
  .xs-col-12 { width: 100%; }
}

// header
// ------

.header {
  position: relative;
  color: $white;
}
.header--cover {
  @include cover;
}
.header--full {
  min-height: 480px;
  max-height: 800px;
  height: 75vw;
}
.header--color {
  background-color: $blue;
}
.header {
  @include flexbox;
  @include flex-wrap(wrap);
  @include align-content(space-between);
}
.header__text {
  .header--color &,
  .header--cover & {
    margin-top: $v*8;
    @media (max-width: $bp-mobile-nav) {
      margin-top: $v*6;
    }
  }
  .header--full & {
    max-width: 30rem;
    @media (max-width: $bp-sm-md) {
      max-width: 28rem;
    }
    margin-top: 0;
  }
  max-width: 36rem;
  margin-bottom: $v;
}

// nav
// ---

.nav {
  position: fixed;
  top: 0;
  z-index: 1;
  color: $white;
  .is-filled-nav & {
    background: $white;
    box-shadow: 0 3px 5px rgba(0,0,0,.075);
    color: $dark-blue;
    .logo {
      fill: $dark-blue;
    }
  }
  @include transition(background-color $duration--slow, color $duration--slow);
}
.nav--desktop {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 12px;
}
.nav--mobile {
  display: none;
  padding-top: 12px;
  padding-bottom: 12px;
}
.nav__items {
  text-align: right;
}
.nav__item {
  display: inline-block;
  &:not(:last-of-type) {
    margin-right: 1em;
  }
}
.logo {
  fill: $white;
  margin-top: 4px;
  @include transition(fill $duration--slow);
}
.footer .logo {
  fill: $dark-blue;
}
.logo--desktop {
  // width: 363.632px; // equivalent of 27px font in logo
  width: 323.229px; // equivalent of 24px font in logo
}
@media (max-width: $bp-sm-md) {
  .logo--desktop {
    width: 282.825px; // equivalent of 21px font in logo
    // width: 242.422px; // equivalent of 18px font in logo
  }
}
.logo--mobile {
  width: 170.891px; // equivalent of 18px font in logo
  margin-left: -2px;
}
@media (max-width: $bp-mobile-nav) {
  .nav--desktop {
    display: none;
  }
  .nav--mobile {
    display: block;
  }
}

// modal
// -----

.modal-toggle {
  display: none;
  @media (max-width: $bp-mobile-nav) {
    display: block;
  }
  cursor: pointer;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  background-color: transparent;
  outline: 0;
  border: 0;
}
// .is-modal-open {
//   overflow: hidden;
// }
.modal {
  background-color: $blue;
  color: $white;
  position: relative;
  visibility: hidden;
  top: -999em;
  left: -999em;
  height: 0;
  width: 0;
  opacity: 0;
  @media (max-width: $bp-mobile-nav) {
    .is-modal-open & {
      z-index: 1;
      position: fixed;
      visibility: visible;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 1;
      // overflow: auto;
    }
  }
  @include transition(opacity $duration--normal);
}
.modal__logo {
  display: inline-block;
  padding-top: 12px; // same as .nav--mobile
}
.modal__items {
  margin-top: 52px; // amount such that first item up with page titles
  @extend h1;
}
.modal__item {
  margin-bottom: $v/2;
}
.equals {
  width: 24px;
  height: 24px;
  position: relative;
}
.equals span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: $white;
  left: 0;
  @include transform(rotate(0deg));
  @include transition($duration--normal);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.is-filled-nav .equals span {
  background-color: $dark-blue-faded;
}
.is-modal-open .equals span {
  background-color: $white;
}
.equals span:nth-child(1) {
  top: 8px;
}
.equals span:nth-child(2) {
  top: 14px;
}
.is-modal-open .equals span:nth-child(1) {
  @include transform(rotate(45deg));
  top: 3px;
  left: 4px;
}
.is-modal-open .equals span:nth-child(2) {
  @include transform(rotate(-45deg));
  top: 20px;
  left: 4px;
}

// footer
// ------

.footer {
  padding-top: $v*1.5;
  padding-bottom: $v*2;
  background-color: $dark-blue-xxfaded;
}
@media (max-width: $bp-mobile-nav) {
  .footer__logo {
    display: none;
  }
}
.footer__text {
  @extend .small;
}
.footer__text__section {
  margin-bottom: $v;
}

// main
// ----

.main {
  margin-top: $v*1.5;
  margin-bottom: $v*2;
}

// body copy
// ---------

.bc {
  max-width: $max-width--bc;
  a:not(.button) {
    color: $link-blue;
    &:hover {
      opacity: $opacity--faded;
    }
  }
  p img {
    margin-top: $v;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:first-child {
      margin-top: 0;
    }
  }
  h2 {
    margin-top: $v*2;
  }
  h3,
  h4 {
    margin-top: $v*1.5;
  }
  h5,
  h6 {
    margin-top: $v;
  }
  h6 {
    color: $dark-blue-faded;
  }
  hr + h2,
  hr + h3,
  hr + h4,
  hr + h5,
  hr + h6 {
    margin-top: $v/3;
  }
  h2,
  h3,
  h4,
  pre,
  table,
  blockquote,
  ol,
  ul {
    margin-bottom: $v*3/4;
  }
  h5,
  h6 {
    margin-bottom: $v/2;
  }
  hr {
    margin-top: $v*1;
    margin-bottom: $v*1;
  }
  table {
    width: 100%;
    text-align: left;
    th {
      @extend strong;
    }
    th,
    td {
      padding-right: 0.5em;
      &:last-of-type {
        padding-right: 0;
      }
    }
    code {
      white-space: normal;
    }
  }
  ul,
  ol,
  blockquote {
    padding-left: 1.5em;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  blockquote {
    position: relative;
    color: $dark-blue-faded;
    &:before {
      content: '';
      display: block;
      width: 3px;
      height: 100%;
      background-color: $dark-blue-xfaded;
      position: absolute;
      left: 0.5em;
    }
  }
  sup {
    font-size: $font-size--small;
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
  }
}
.bc--centered {
  margin-left: auto;
  margin-right: auto;
  max-width: none;
  > * {
    width: 100%;
    max-width: $max-width--container;
    margin-left: auto;
    margin-right: auto;
    padding-left: $gutter;
    padding-right: $gutter;
    @extend .container;
  }
  > *:not(.wide) {
    max-width: $max-width--bc + ($gutter * 2); // take into account padding
    @media (max-width: $bp-sm-md) {
      max-width: $max-width--bc + ($gutter-md * 2); // take into account padding
    }
  }
}
.caption {
  @extend .small;
  margin-top: -$v/1.5;
  margin-bottom: $v*2;
}
.pull-quote-wrap {
  margin-top: $v*2;
  margin-bottom: $v*2;
}
.pull-quote {
  font-family: $font-family--headings;
  text-transform: uppercase;
  line-height: 1;
  font-size: 3em;
  position: relative;
  margin-bottom: $v/1.5;
  @media (max-width: $bp-sm-md) {
    font-size: 1.75em;
  }
  &:after {
    content: '”';
  }
  &:before {
    content: '“';
    position: absolute;
    left: 0;
  }
}
.pull-quote,
.pull-quote-source {
  padding-left: 1.5rem;
  @media (max-width: $bp-sm-md) {
    padding-left: 1rem;
  }
}
.pull-quote-source {
  @extend .small;
}
.two-up {
  margin-top: $v*2;
  margin-bottom: $v*2;
  .caption {
    margin-top: 0;
    margin-bottom: 0;
  }
  .col:nth-of-type(2) {
    @media (max-width: $bp-xs-sm) {
      margin-top: $v;
    }
  }
}

// sections
// --------

.aside {
  margin-bottom: $v;
}
.section {
  margin-top: $v;
  margin-bottom: $v;
}
.section--cards {
  margin-top: $v*2;
}
.section--short {
  margin-top: $v/6;
}
.section--tall {
  margin-bottom: $v*2;
}
.section--taller {
  margin-bottom: $v*3;
}
.section-header {
  margin-top: $v/3;
  margin-bottom: $v/2;
  color: $dark-blue-faded;
}
.section-header--tall {
  margin-bottom: $v*1.5;
}
.section--short__text {
  font-size: $font-size--small;
}

// cards
// -----

.card {
  @include cover;
  color: $white;
  position: relative;
  margin-bottom: $gutter;
  @media (max-width: $bp-sm-md) {
    margin-bottom: $gutter-md;
  }
  @include flexbox;
  @include flex-wrap(wrap);
  @include align-content(flex-end);
}
.card-link {
  display: block;
  @include transition(opacity $duration--normal);
  &:hover {
    opacity: 0.8;
  }
}
.card__tag {
  margin-bottom: $v/4;
  visibility: hidden;
}
.card__tag--visible {
  visibility: visible;
}
.card--color {
  background-color: $blue;
}
.card--large {
  padding: $v*.8 $v;
  min-height: 388px;
  @media (max-width: $bp-sm-md) {
    padding: $v*1/2*.8 $v*1/2;
    min-height: 240px;
  }
  @media (max-width: $bp-xs-sm) {
    min-height: 200px;
  }
}
.card--small {
  padding: $v*2/3*.8 $v*2/3;
  min-height: 250px;
  @media (max-width: $bp-sm-md) {
    padding: $v*1/2*.8 $v*1/2;
    min-height: 200px;
  }
  .card__title {
    @extend h4;
  }
}
.card__text {
  width: 100%;
}
.card__title {
  max-width: 12em;
  margin-bottom: 2px;
}
.card__subtitle {
  font-size: $font-size--small;
}
.person-card-link {
  display: block;
  &:hover {
    .person-card__image {
      opacity: 0.8;
    }
    .person-card__title {
      opacity: 0.6;
    }
  }
}
.person-card {
  margin-bottom: $gutter;
  @media (max-width: $bp-sm-md) {
    margin-bottom: $gutter-md;
  }
  @include flexbox;
  @include align-items(flex-start);
}
.person-card__image,
.person-card__title {
  @include transition(opacity $duration--normal);
}
.person-card__image {
  width: 5rem;
}
.person-card__text:not(.person-card__text--student) {
  padding-left: 1rem;
}
.person-card__title {
  margin-bottom: 4px;
}
.person-card__subtitle {
  @extend .small;
}
.list-card-link {
  display: block;
  @include transition(opacity $duration--normal);
  &:hover {
    .list-card__title {
      opacity: $opacity--faded;
    }
  }
}
.list-card {
  margin-bottom: $v*1.33333;
}
@media (max-width: $bp-xs-sm) {
  .list-card__col {
    &:nth-of-type(1) {
      @include order(2);
    }
    &:nth-of-type(2) {
      @include order(1);
    }
  }
}
.list-card__subtitle {
  @extend .small;
}

// testimonial
// -----------

.testimonial__image {
  @media (max-width: $bp-xs-sm) { // columns go to 12
    margin-bottom: $gutter-md;
  }
}
.testimonial__quote-wrap {
  position: relative;
  &:before {
    content: '“';
    @extend h2;
    position: absolute;
    left: 0;
  }
  padding-left: 1rem;
}
.testimonial__quote {
  &:after {
    content: '”';
  }
  margin-bottom: $v;
}

// about
// -----

.foundation {
  margin-top: $v*2;
  margin-bottom: $v*2;
}
.foundation__image {
  display: block;
  max-width: 360px;
}

// ways
// ----

.way {
  margin-bottom: $v;
}
.way__image {
  margin-bottom: $v/2;
}
.way__title {
  margin-bottom: $v/4;
}

// buttons
// -------

.button {
  @extend h4;
  display: inline-block;
  margin-bottom: $v;
  &:hover {
    opacity: $opacity--faded;
  }
  &:after {
    content: url('{{ site.baseurl }}/assets/images/arrow.svg');
    width: .7em;
    display: inline-block;
    position: relative;
    left: .15em;
    top: -2px;
    @include transition-transform(.15s);
    @media (max-width: $bp-sm-md) {
      top: -1px;
    }
  }
  &:hover:after {
    @include animation(arrowJostle .4s);
  }
}
.button--header {
  margin-bottom: $v/2;
  &:after {
    content: url('{{ site.baseurl }}/assets/images/arrow-white.svg');
  }
}

// miscellaneous
// -------------

a.fade:hover {
  opacity: $opacity--faded;
}
.faded {
  color: $dark-blue-faded;
}
.small {
  font-size: $font-size--small;
  color: $dark-blue-faded;
}
.block {
  display: block;
}

// style guide
// -----------

.style-example {
  border: 1px solid $dark-blue-xfaded;
  padding: $v*3/4;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 0;
  }
  a,
  .card__subtitle {
    color: inherit;
  }
  p a {
    color: $link-blue;
  }
  .card {
    margin-bottom: 0;
  }
  > * {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  > * + * {
    margin-top: $v*3/4 !important;
  }
}
.style-example + pre {
  border: 1px solid $dark-blue-xfaded;
  border-top: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.bg-blue {
  background-color: $blue;
}
.bg-link-blue {
  background-color: $link-blue;
}
.bg-dark-blue {
  background-color: $dark-blue;
}
.bg-dark-blue-faded {
  background-color: $dark-blue-faded;
}
.bg-dark-blue-xfaded {
  background-color: $dark-blue-xfaded;
}
.bg-dark-blue-xxfaded {
  background-color: $dark-blue-xxfaded;
}
