---
layout: default
---

<div class="bc bc--centered">
  {{ page.content | markdownify }}
  <div class="foundation">
    <small>In conjunction with the Ford Foundation</small>
    <img src="/assets/images/ford-foundation.svg" class="foundation__image">
  </div>
</div>

<div class="container">
  <section class="ways section">
    <hr>
    <h6 class="section-header section-header--tall">Ways to Get Involved</h6>
    <div class="row">
      {% for way in page.ways %}
        <div class="way col col-4 xs-col-12">
          <a href="{{ way.button_link }}" class="custom-fade card-link"><img src="{{ way.image }}" class="way__image"></a>
          <a href="{{ way.button_link }}"><h3 class="way__title">{{ way.title }}</h3></a>
          <p class="small">{{ way.text }}</p>
          <a href="{{ way.button_link }}" class="button">{{ way.button_text }}</a>
        </div>
      {% endfor %}
    </div>
  </section>
</div>
