---
layout: default
---

{% assign campus_events = site.events | where: 'is_campus', 'true' %}
{% assign holder_events = site.events | where_exp: 'item', 'item.is_campus != true' %}
{% assign upcoming_events = holder_events | where: 'is_upcoming', 'true' | sort: 'date' %}
{% assign past_events = holder_events | where_exp: 'item', 'item.is_upcoming != true' | sort: 'date' | reverse %}

<div class="container">

  <section class="section section--cards">
    <ul class="row">
      {% for event in upcoming_events %}
        {% if forloop.index > 2 %}
          <div class="col col-4 xs-col-6">
            {% include card.html item=event %}
          </div>
        {% else %}
          <div class="col col-6 xs-col-12">
            {% include card.html item=event size='large' %}
          </div>
        {% endif %}
      {% endfor %}
    </ul>
  </section>

  <section class="section section--taller">
    <hr>
    <h6 class="section-header section-header--tall">Upcoming Campus Events</h6>
    <ul>
      {% for event in campus_events limit:6 %}
        {% include list-card.html item=event %}
      {% endfor %}
    </ul>
  </section>

  <section class="section section--taller">
    <hr>
    <h6 class="section-header section-header--tall">Past Holder Initiative Events</h6>
    <ul>
      {% for event in past_events limit:12 %}
        {% include list-card.html item=event %}
      {% endfor %}
    </ul>
  </section>

</div>
