---
layout: default
---

<div class="container">
  <section class="section section--cards">
    <ul class="row">
      {% for course in site.courses limit:1 %}
        <div class="col col-6 xs-col-12">
          {% include card.html item=course size='large' show_tag=true %}
          <a href="/courses/" class="button button--all">View all courses</a>
        </div>
      {% endfor %}
      {% assign current_events = site.events | where: 'is_upcoming', 'true' %}
      {% for event in current_events limit:1 %}
        <div class="col col-6 xs-col-12">
          {% include card.html item=event size='large' show_tag=true %}
          <a href="/events/" class="button button--all">View all events</a>
        </div>
      {% endfor %}
    </ul>
  </section>

  <hr class="spaced">
  <section class="testimonial section">
    <div class="row">
      <div class="col col-8 xs-col-12">
        <img src="/uploads/home-testimonial.jpg" class="testimonial__image">
      </div>
      <div class="col col-4 xs-col-12">
        <div class="testimonial__quote-wrap">
          <h2 class="testimonial__quote">Social justice is what drives me. It’s why I’m here.</h2>
          <h3>Kathleen Wynne</h3>
          <small>’CC 17</small>
        </div>
      </div>
    </div>
  </section>
</div>
